@CHARSET "UTF-8";

.sc-calendar {
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #4A4A4A;
    box-shadow: 2px 4px 5px #bdbdbd;
    border-width: 1px 0 0 1px;
    border-color: #E6E4E0;
    border-style: solid;
    float: left;
    margin-right: 20px;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
    -webkit-text-size-adjust: none;
    font-size: 16px;
}

.sc-header {
    height: 45px;
    display: flex;
    flex-direction: row;
    border-bottom: 0;
}

.sc-body {
    width: 90%;
    margin: 0 auto;
    clear: both;
    margin-top: 20px;
}

.sc-week {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #999999;
}

.sc-days {
    /*height: 88%;*/
}

.sc-header .sc-yright {
    margin-right: 4px;
}

.sc-header .wx-sp-a {
    margin: 0px 8px;
    cursor: pointer;
    font-size: 14px;
}

.sc-header .wx-sp-a .layui-badge-dot {
    margin-right: 4px;
    border-radius: 0px;
    width: 10px;
    height: 10px;
}

.sc-item {
    /*height: 20%;*/
    float: left;
    font-weight: 600;
    color: #565555;
    width: 13.285%;
    margin-right: 1%;
    padding-top: 0px;
    background-color: #ffffff;
    border: 1px solid #F1EBE4;
    box-sizing: border-box;
}

.sc-item .wx-day {

}

/*//@-节气或阴历*/
.sc-item .wx-day .lunar-day {
    float: left;
}

.sc-item .wx-mark, .layui-layer-tips .wx-mark {
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.sc-item .wx-mark .wx-mark-li, .layui-layer-tips .wx-mark .wx-mark-li {
    list-style-type: none;
    margin: 4px 0px;
    text-align: left;
    padding: 0px 4px;
    background: #eee;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

.sc-item .wx-mark .wx-mark-li p, .layui-layer-tips .wx-mark .wx-mark-li p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
    /*//@-强制不划行，且多余显示省略号。*/
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .layui-layer-tips {
    width: auto !important;
}

body .layui-layer-tips .layui-layer-content {
    margin: 0px;
    padding: 4px;
    /*background: white;*/
}

body .layui-layer-tips .layui-layer-content > i {
    z-index: -1;
    /*border-bottom-color: white;*/
}

body .layui-layer-tips .wx-mark {
    background: white;
    padding: 4px;
}

body .layui-layer-tips .wx-mark .wx-mark-li {
    margin: 6px 0px;
    /*background: white;*/
    color: black;
}

.none {
    display: none !important
}


.wx-body {
    width: auto;
    margin: 10px;
}

#calendar {
    width: auto;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 10px;
    padding: 18px 0;
}


.item-nolunar {
    padding: 0px;
}
.sc-vocation {
    background-color: #FFEBEC;
}

/*//@-有备注的时候的样式*/
.sc-mark {
    /*background-color: #E5FBFA;*/
    overflow: hidden;
}

.sc-vocation:before {
    content: '休';
    display: block;
    position: absolute;
    font-size: 0.7em;
    width: 1.2em;
    font-weight: 100;
    color: white;
    background-color: #E00808;
    margin-top: -10px;
}

.sc-othermenth {
    color: #C1C0C0 !important;
}

.sc-othermenth .wx-day, .sc-othermenth .lunar-day {
    color: #C7C7C7 !important;
    font-weight: normal;
}

.sc-item .wx-day {
    font-size: 14px;
    text-align: left;
    margin: 4px 8px;
}

.sc-item .lunar-day {
    font-size: 10px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-festival .lunar-day {
    color: #E00808;
}

.sc-week-item {
    height: 100%;
    padding: 0px;
    float: left;
    width: 14.285%;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    text-align:left ;
}

.sc-item-small {
    font-size: 10px !important;
}

.sc-week-item:last-child {
    border-width: 1px 1px 1px 1px;
}

.sc-actions {
    float: left;
    width: 25%;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
}

.sc-actions:last-child {
    float: right;
}

.sc-actions-big {
    width: 24%;
}

body .sc-actions-big.sc-mark-sp {
    width: 48%;
    text-align: right;
}

@media screen and (max-width: 500px) {
    .sc-actions {
        width: 50%;
    }
}

.sc-header select {
    border-color: rgba(0, 0, 0, 0);
    padding: 0.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Microsoft Yahei";
    color: #606060;
    font-size: 13px;
}

.sc-header input {
    border-color: rgba(0, 0, 0, 0);
    padding: 0.2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Microsoft Yahei";
    color: #606060;
}

.sc-actions div {
    display: inline-block;
    /*border: 1px solid #ccc;*/
    vertical-align: bottom;
    width: 20px;
    padding-bottom: 5px;
    font-size: 1.5em;
    line-height: 0.9em;
    cursor: pointer;
}

.sc-return-today {
    background-color: #eeeefb;
    border-radius: 2px;
    /* border: 1px solid #ccc; */
    width: 60px;
    font-size: 0.8em;
    padding: 0.3em;
    /*margin: auto;*/
    float: left;
    text-align: center;
    cursor: pointer;
}

.sc-time {
    margin-top: 3px;
    font-size: 0.8em;
    float: right;
}
.wx-mark-li svg{
    margin-left: -0.6vw;
}
.wx-mark-li svg:first-of-type{
    margin-left: 0vw;
}
.sc-header p{
    line-height: 50px;
    color: #707070;
    font-size: 14px;
    margin-left: 20px;
}
.sc-mark-type{
    padding: 10px 10px;
    margin-left: 15px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 3px 3px 4px -5px #808080,inset 2px 2px 3px -5px #808080;
    color: #707070;
}
body .wx-sp-a.wx-un-clicked, .wx-un-clicked {
    color: #0062FF;
    box-shadow: 3px 3px 4px -5px #808080,inset -2px -2px 3px -5px #808080;
}

body .wx-sp-a.wx-un-clicked .layui-badge-dot {
    background: #e8e8e8 !important;
    background-color: #e8e8e8 !important;
}
