/*--------------study--------------------*/
.time_count{
    margin: 10vh auto;
}
#start,#finish,#stop,#reset{
    width:6vw;
    height: 5vh;
    border: 0;
    border-radius: 6vw;
    box-shadow: 3px 3px 6px -5px #808080,inset -3px -3px 6px -5px #808080;
    text-align: center;
    line-height: 2vw;
    margin: 3vw 2vw;
    background-color: white;
}
#count p{
    width:4vw;
    height: 7vw;
    font-size: 4vw;
    margin-left: 2vw;
    line-height: 7vw;
    text-align: right;
    box-shadow: 3px 3px 6px -5px #808080,inset 3px 3px 6px -5px #8A56AC ;
}

.study-right{
    width: 45%;
    padding-left: 5%;
    border-left: 0.8px solid #becace;
}

/*进度条*/
.progress-h p{
    margin-top: 20px;
    color: #808080;
}

/*时钟表针*/
.hand {
    stroke: #865AE6;
    stroke-width: 10;
    stroke-linecap: round;

}
.hand-thick {
    stroke-width: 10;
}
.time-svg{
    width: 50%;
    position: absolute;
    right: 5%;
    top:0;
}
.svg-hand{
    position: absolute;
    left:25%;
    top:25%;
    z-index: 9999;
}
.relative{
    position: relative;
}


/*音乐播放*/
.music{
    width: 50px;
    line-height: 50px;
    border-bottom: 1px solid #808080;
}
.play_music{
    width: 500px;
    height: 120px;
    border-radius: 60px;
    background-color: #5F4591;
    margin-top: 20px;
    padding-top: 20px;
    color: white;
    position: relative;
}
.process-d{
    width: 412px;
    height: 20px;
    /*cursor: pointer;*/
    margin: 0 auto;
}
.process {
    width: 330px;
    height: 5px;
    margin: 6px 5px;
    background-color: white;
    text-align: center;
}
.process_slide {
    width: 0;
    height: 5px;
    display: block;
    background: #ed553b;
}
.play_controls{
    width: 270px;
    margin: 20px auto;
}
.btn{
    margin-left: 30px;
}
.btn:first-of-type{
    margin-left: 0;
}
.btn svg{
    width: 30px;
    height: 30px;
}

.play_list_area{
    width: 250px;
    height: auto;
    padding: 5px 0;
    background-color: #4A4A4A;
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 60px;
}
.play_list{
    margin: 20px auto;
}
.play_list li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.play_list li span{
    margin-left: 20px;
}
.play_list li:hover{
    background-color: #808080;
}
