.layui-form-select .layui-edge{
    left:10px;
    right: 0;
}
.layui-input{
    padding-left: 30px;
}
.form{
    width: 32%;
    height: auto;
    padding-left: 2%;
    margin-top: 50px;
    margin-left: 2%;
    border-left: 1px solid #808080;
}
.task{
    width: 100%;
}

.content-text{
    width: 100%;
    position: relative;
    margin-left: 0!important;
}
.content-text p{
    position: absolute;
    top:0;
    left: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #5F4591;
    z-index: 99;
}
.content-text textarea{
    border-radius: 20px;
    padding-top: 30px;
}
.layui-textarea{
    min-height: 150px;
}

/*list*/
.type_divide_item{
    margin-bottom:0;
}
.type_divide{
    margin-left: 0;
    min-height: 10px;
}
.type_divide input{
    padding: 0;
    height: 25px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 0!important;
    line-height: 25px;
    border-radius: 13px;
}
.task-type{
    position: absolute;
    float: right;
    right: 200px;
    top: 0;
}
.divide_task_date{
    padding-left: 10px!important;
    position: absolute;
    float: right;
    right: 100px;
    top: 0;
    width: 110px;
}
.divide_task_time{
    padding-left: 0!important;
    position: absolute;
    float: right;
    right: 10px;
    top: 0;
    width: 80px;
    text-align: center;
}
.type_divide svg{
    position: relative;
    right: 105px;
    top:-3px;
}

.layui-form-select dl dd.layui-this {
    background-color: #8A56AC;
    color: #fff;
}
.add_divide_task{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.task-name {
    line-height: 50px;
    font-size: 1vw;
}
.margin-20{
    margin-top: 20px;
}
.divide_task_pro{
    position: absolute;
    right: 20px;
    top: 30px;
}
.checkbox{
    width: 18px;
    height: 18px;
}